<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Demo_dt59_pinhong_01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>init</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InItServlet</display-name>
    <servlet-name>InItServlet</servlet-name>
    <servlet-class>com.dt59.controller.InItServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InItServlet</servlet-name>
    <url-pattern>/InItServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitServlet</display-name>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.dt59.controller.InitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dt59.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerUserServlet</display-name>
    <servlet-name>managerUserServlet</servlet-name>
    <servlet-class>com.dt59.controller.managerUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerUserServlet</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
 <!--  <servlet>
    <description></description>
    <display-name>FengServlet</display-name>
    <servlet-name>FengServlet</servlet-name>
    <servlet-class>com.dt59.controller.FengServlet</servlet-class>
  </servlet> -->
  <servlet>
    <description></description>
    <display-name>SpageServlet</display-name>
    <servlet-name>SpageServlet</servlet-name>
    <servlet-class>com.dt59.controller.SpageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpageServlet</servlet-name>
    <url-pattern>/Spage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstPage</display-name>
    <servlet-name>FirstPage</servlet-name>
    <servlet-class>com.dt59.controller.FirstPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstPage</servlet-name>
    <url-pattern>/First</url-pattern>
  </servlet-mapping>
</web-app>