<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Demo_dt59_jsp_servlet</display-name>
   <!-- servlet标签:处理servlet类 -->
  <servlet>
  	<!-- servlet的名称 -->
  	<servlet-name>InitServlet</servlet-name>
  	<!-- 找到类的位置   包名+类 -->
  	<servlet-class>com.dt59.controller.InitServlet</servlet-class>
  </servlet>
  <!-- servlet类的映射 -->
  <servlet-mapping>
  	<servlet-name>InitServlet</servlet-name>
  	<!-- 请求资源 -->
  	<url-pattern>/InitServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>InitServlet</welcome-file>
  </welcome-file-list>
  
</web-app>