h1{
	background-color:blue ;
	color:#ffffff ;
	text-align: center;
	padding: 15px;
}
img{ 
	border: 1px dashed #9999cc;
	width: 200px;
	margin:5px;
	float:left ;
}
  p{
	border-right: 3px double red;
	font-size: 18px;
	text-indent:2em;
	line-height: 1.5;
	} 
	.name{
		border-right: 3px double orange ;
	}
	*{
		margin: 0px;
		padding: 0px;
	}
