h1{
    color:white;
    background-color:blue;
    text-align:center;
    padding: 15px;
			
		}
p{
	font-size:12px;
	line-height: 18px;
	text-indent: 2em;
	border-right:3px double red;
	
}
body{
	background-color:#ccccff;
}
img{
	border: 1px dashed #9999cc ;
	margin: 5px;
	float: left;
	
	
}
/*清除间隔空白*/
*{
	margin:0px;
	padding:0px;
}
.p2{
	border-right:3px double orange;
}

