h1{
	text-align: center;
	size: 28px;
	text-shadow: gray 10px 10px 2px;
	color: red;
}

p{
	text-indent: 2em;
	line-height: 28px;
	background: url(1.png) repeat;
}

p span{
	font-family: "微软雅黑";
	font-weight: 900;
}

div{
	font-size: 15px;
	font-family: "宋体";
	text-align:right;
}

.font span{
	font-family: "黑体";
	font-weight: bold;
	color: darkblue;
}

div a{
	font-weight: bold;
}
a:hover{
	color: blue;
}
