table{
	/*border : border-width || border-style || border-color */
	border: 3px solid red;
	height: 300px;
	width:800px;
	border-collapse: collapse;
}


.border1{
	border-bottom: 3px solid black;
}

td{
	border: 1px solid blue;
}