h1 {
	font-size: 36px;
	color: #FF0000;
	font-family: "幼圆";
	text-shadow: gray 10px 10px 15px;
	line-height: 28px;
}

span {
	color: crimson;
	line-height: 15px;
}

body {
	background-color: green;
	background-image: url("../img/1.png");
}

P {
	font-size: 20px;
}