h3{
	font:normal bold 32px "微软雅黑";
	color: darkred;
	text-align: center;
	text-shadow: burlywood 11px -8px 3px;
	
}	
p{
	line-height: 28px;
	text-indent: 2em;
	
}
#name{
	color:rgba(8,46,84,0.9);
}
 p>span{
    font-size:16px;
	font-weight: bold;
	color:#FF4500;
}
p span:nth-child(2){
	color:#000000;
}
body{
	background-color:#66ccff ;
}
div{
	background-image:url("2.png");
	background-size:12px 28px;
}
*{
	margin:0px;

	padding:0px;

}
